<!-- This show a text convert currency-->
<input type="text" placeholder="Write a number:" [(ngModel)]="text">
<h3>Your wrote: " {{text}} "</h3>

<!-- This show a list -->
<ul>
  <ng-container *ngFor="let coin of currencies">
      <li *ngIf="coin.active">
          {{coin.name}} - {{coin.rate}}
      </li>  
  </ng-container>
</ul>

<hr>

<!-- This show a map -->
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr>

<!-- This show a text box
<input type="text" placeholder="Write someting here:" [(ngModel)]="text">
<hr>

This show a dinamic text
<h3>Your wrote: " {{text}} "</h3> -->

<!-- This show a button -->
<button [disabled]="!ready" (click)="showExample()">
  Show Angular Example
</button>
<hr>

<!-- This show the Angular example -->
<span *ngIf="angularActive">
    <app-example></app-example>
</span>

